.container {
  display: flex;
  gap: 2rem;
  max-width: 75rem;
  height: calc(100vh - 10rem);
  margin: 1rem auto;
}

.container .left_content,
.container .right_content {
  width: 50%;
  height: 100%;
}

.container .left_content .header {
  display: flex;
  justify-content: space-between;
}

.container .left_content .chips {
  display: flex;
  gap: 1rem;
}

.container .left_content .cards,
.container .right_content .cards {
  width: 100%;
  margin-top: 1rem;
  height: calc(100% - 2.8rem);
  background-color: #e8e9ec;
  border-radius: 8px;
  padding: 1rem;
  overflow: auto;
}
