.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25rem;
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 1rem;
}

.container header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container header h2 {
  color: var(--primary-color);
}
